/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */


body{
    font-size: 75.0%;
    line-height:1.667em;
    font-family: Arial, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color:#ffffff;
    background-image:url(../images/papertexture.png);
    background-position:top center;
    background-repeat:repeat;
    background-color:#72808a;

}


a{outline-width:0px;color:#decc9d;}
a img {border:none;}
a:link, a:active, a:visited{text-decoration:none;}
a:hover{text-decoration:none;}

.box-transition {
  -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.2s ease-out;  /* FF4+ */
      -ms-transition: all 0.2s ease-out;  /* IE10? */
       -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
          transition: all 0.2s ease-out;
}
.inline-block{
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
.right{float:right}
.left{float:left}


/* AltFooterStick for making the footer stick to the bottom 
-------------------------------------------------------------- */

html{height: 100%;}
body{height: 100%;}
#nonFooter{position: relative;min-height: 100%;}
* html #nonFooter{height: 100%;}
#content{padding-bottom: 300px}
#pageFooterWrapper{position: relative;margin-top: -300px}



/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { 
    font-weight: bold;
    font-family:"Helvetica Neue Light","HelveticaNeue-Light","Helvetica Neue",Arial,Helvetica,sans-serif;
}
h4, h5, h6 { color:#decc9d }
h1, h2 { font-weight:200; }
h3, h4, h5, h6 { font-weight:400; }

h1 { font-size: 22px; line-height: 1em; margin-bottom: 0.5em;color:#decc9d }
h2 { font-size: 18px; margin-bottom:0.761em; line-height:1.167em; color:#decc9d; }
h3 { font-size: 1.50em; line-height: 1.25em; margin-bottom:.5em; color:#decc9d; margin-top:.5em }
h4 { font-size: 1.167em; line-height: 1.25;color:#990000; }
h5 { font-size: 1.167em; margin-bottom:10px; font-weight:bold; text-transform:uppercase; color:#A3A798 }
h6 { font-size: 1em; }


/* header styles
-------------------------------------------------------------- */

.header{
    margin:0;
    position:relative;
	height:140px;
}
.header .toolbar{
	background:#000;
	border-bottom:1px solid #444;
	height:40px;
	line-height:40px;
	position:relative;
}

.header .toolbar h1{
    margin:0 0 0 140px;
	padding:0;
	color:#fff;
	height:40px;
	line-height:40px;
	float:left;
	font-family:Georgia, serif;
	font-size:17px;
	font-weight:normal
}

.header .toolbar .branding{
    display:block;
    margin-top:-11px;
    height:144px;
	width:128px;
    background:url(../images/flag.png) 0 0 no-repeat;
    text-indent: -9999px;
	position:absolute;
	z-index:1000;
}
.header .toolbar .branding:hover{margin-top:-3px}

.header .toolbar ul{float:right; margin:0; padding:0}
.header .toolbar ul li{display:inline;padding:0 10px;}
.header .toolbar li a{color: #DECC9D; font-weight:bold;}
.header .toolbar li a:hover{text-decoration:underline}

span.notification{
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	color:#fff;
	height:16px;
	line-height:16px;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	padding:0 5px;
	font-weight:normal;
	background:#cb0015;
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#ec7780), to(#cb0015)); /* Saf4+, Chrome */
  	background-image: -webkit-linear-gradient(top, #ec7780, #cb0015); /* Chrome 10+, Saf5.1+, iOS 5+ */
  	background-image:    -moz-linear-gradient(top, #ec7780, #cb0015); /* FF3.6 */
  	background-image:     -ms-linear-gradient(top, #ec7780, #cb0015); /* IE10 */
  	background-image:      -o-linear-gradient(top, #ec7780, #cb0015); /* Opera 11.10+ */
  	background-image:         linear-gradient(top, #ec7780, #cb0015);
    
	text-shadow:0px 1px 0px #000;
	border:2px solid #fff;
	-moz-box-shadow:0px 0px 3px #000;
	-webkit-box-shadow:0px 0px 3px #000;	
	box-shadow:0px 0px 3px #000;
	font-weight:bold;
}

.header .menu{
	height:55px;
	background:url(../images/black_paper.png);
	border-bottom:1px solid #CFCAC4;
	line-height:55px;
}

.header .menu ul{
	margin:0 0 0 120px; padding:0;
}

.header .menu ul li{
	display:block;
	float:left;
	height:55px;
	margin:0;
	padding:0;
}
.header .menu ul li.sub{
	float:right;
}

.header .menu ul li.sub a{
	border:none;
	font-size:12px;
	line-height:55px;
	padding:0 15px;
	height:55px;
}

.header .menu ul li a{
	display:block;
	float:left;
	height:45px;
	padding:10px 25px 0;
	border-right:1px solid #444;
	font-size:16px;
	font-weight:normal;
	color:#fff;
	margin:0;
}
.header .menu ul li a:hover{
	background:#C4311D;
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#DF4C3C), to(#C4311D))!important; /* Saf4+, Chrome */
  	background-image: -webkit-linear-gradient(top, #DF4C3C, #C4311D)!important; /* Chrome 10+, Saf5.1+, iOS 5+ */
  	background-image:    -moz-linear-gradient(top, #DF4C3C, #C4311D)!important; /* FF3.6 */
  	background-image:     -ms-linear-gradient(top, #DF4C3C, #C4311D)!important; /* IE10 */
  	background-image:      -o-linear-gradient(top, #DF4C3C, #C4311D)!important; /* Opera 11.10+ */
  	background-image:         linear-gradient(top, #DF4C3C, #C4311D)!important;
}

.header .menu ul li span{
	display:block;
	clear:both;
	font-size:11px;
	font-family:'Times New Roman', serif;
	font-weight:normal;
	color:#aaa;
}



/* content
-------------------------------------------------------------- */
#content .item-details{
	background:#fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	margin-bottom:30px;
}



/* item details
-------------------------------------------------------------- */
.item-essentials{
	position:relative;
	background:#efefef;
	padding:15px 0;
}

.item-thumbnail{
	text-align:center;
	position:relative;
}

.item-thumbnail img{
	width:90%;
	margin-bottom:5px;
	padding:8px;
	background:#fff;
	-moz-box-shadow:0px 0px 3px #333;
	-webkit-box-shadow:0px 0px 3px #333;
	box-shadow:0px 0px 3px #333;
}

.item-thumbnail a.redButton,
.item-thumbnail a.blackButton{
	float:none;
	margin:0 0 5px 0;
	width:90%;
	padding:0 8px;
	text-shadow:0px 1px 0px #93250f;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	font-weight:bold;
}

.item-essentials h2{
	border-bottom: 1px solid #ccc;
	color: #333;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	padding-bottom: 10px;
	text-shadow: 1px 1px 0 #EEE;
	margin-bottom: 0px;
	padding-right:25px;
}

.item-essentials p.description{
	color:#555;
	font-size:15px;
	line-height:22px;
	padding-right:25px;
	margin-top:0;
	padding-top:10px;
	border-top:1px solid #fff;
}

.add_this_tools{
	float:left;
	margin:2px 0 0 0;
	width:120px;
}

#item_details .paginationBar{
	background:#111;
	color:#fff;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	margin-bottom:0;
}

#item_details .paginationBar a{
	color:#fff!important;
}

.item-thumbnail .image-count{
	display:block;
	position:absolute;
	top:15px;
	height:20px;
	left:8px;
	padding:0 10px 0 5px;
	line-height:20px;
	background:url(../images/bg_white_ribbon.png) top right no-repeat;
	color:#777;
	font-size:10px;
}

#item_details .paginationBar a.back_to_archives{
	color:#DECC9D!important;
}

.item_meta{
	list-style:none;
	border-right:1px dotted #ddd;
	
}

.item_related ul li.title{
	color:#888;
	font-size:12px;
	border-bottom:1px solid #ddd;
	font-weight:bold;
}

.item_meta ul li,
.item_related ul li{
	list-style:none;
	margin:0;
	padding:4px 0;
	border-bottom:1px dotted #ddd;
	overflow:hidden;
	clear:left;
}

.jp-controls li{
	overflow:visible!important;
}

.item_meta ul li:last-child,
.item_related ul li:last-child{
	border:none;
}

.item_related ul li{
	border-bottom:1px dotted #ccc;
}
.item_meta ul li.description{
	font-size:12px;
}
.item_meta ul li span,
.item_related ul li span{
	font-weight:bold;
	color:#333;
	margin:0;
	padding:0;
}
.item_related ul li span{
	display:block;
}

.item_meta ul li a{
	color:#CA3723;
}

.item_meta ul li ul{
	margin:0px;
}

.item_meta ul li ul li{
	padding:4px 0 4px 10px;
	margin:0;
	border:none;
	background:url(../images/bullet.gif) 0 50% no-repeat;
}


#item_details.archiveBigWrapper{
	
}

#item_details #search_results a:hover{
	text-decoration:underline;
}

 .textButton{
	color:#fff;
	display:block;
	margin:0;
	padding:2px 0;
	border-bottom:1px solid #333;
	overflow:hidden;
}

img.icon{
	width:16px!important;
	height:16px!important;
	float:left;
	margin:0 3px 0 0;
}

#item_details_wrapper{

	overflow:hidden;
}

#email-popup-content h2{
	margin:10px 0;
	padding:0;
	font-size:22px;
}

#email-popup-content input[type=text]{
	width:50px;
	height:18px;
}

#email-popup-content .form_row{
	margin:0 0 5px 0;
}

#email-popup-content input[type=submit]{
	border:none;
	margin-top:10px;
}

#email_confirmation p {
	text-align: center;
	padding-top: 10px;
}

#email-popup-content input[disabled]{
	opacity:0.3;
}

#email-popup-content{
	width:400px;
	
}

#print-popup-content h2{
	margin:10px 0;
	padding:0;
	font-size:22px;
}

#print-popup-content input[type=text]{
	width:50px;
	height:18px;
}

#print-popup-content .form_row{
	margin:0 0 5px 0;
}

#print-popup-content input[type=submit]{
	border:none;
	margin-top:10px;
}

#print-popup-content input[disabled]{
	opacity:0.3;
}

#print-popup-content{
	width:200px;
	
}

.tag{
	background:url(../images/bullet.gif) 0 5px no-repeat;
	color:#CA3723!important;
	display:inline-block;
	font-size:12px;
	line-height:14px;
	padding:0px 8px 0;
	text-decoration:none;
	margin:0 4px 6px 4px;

}


.block{
	display:block!important;
}
.clear{
	clear:left!important;
}




/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.header{
			height:auto;
		}
		.header .toolbar{
			height:auto;
		}
		.header .toolbar .branding{
			width:51px;
			height:57px;
			background-size:100%;
			margin-top:-5px;
		}
		.header .toolbar ul{
			display:block;
			background:#000;
			float:none;
			clear:both;
		}
		.header .toolbar h1{
			margin-left:60px;
		}
		.header .menu{
			height:auto;
		}
		.header .menu ul {
			margin: 0px;
			height:auto;
		}
		.header .menu ul li,
		.header .menu ul li a,
		.header .menu ul {
			float:left;
			display:block
		}
		.header .nav ul{margin:0}
		.header .menu ul li a{
			display:block;
			float:none;
			height:auto;
			padding:10px 15px;
			border-right:none;
			border-bottom:1px solid #444;	
		}
		.header .menu ul li span{display:none}
		.header .menu ul li.sub{
		
			float:left;
			padding:0;
			margin:0;
			height:auto;
			line-height:normal;
		}
		.header .menu ul li.sub a{
			padding-top:10px;
			padding-bottom:10px;
			height:auto;
			line-height:normal;
		}
		.header .menu ul li a:hover{
			background:transparent!important;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/